
@{
    ViewBag.Title = "Termos de uso";
}

<br />
<h2>Termos de utilização da plataforma de CrowdTouring</h2>
<br />
<div style="width:1000px;height:650px;border-left:2px solid gray;border-right:2px solid gray;padding-left:10px;padding-right:10px">
    <br />
    <p>
        <span style="font-weight:900">Importante: </span> Antes de aceder e utilizar o site, leia atentamente os Termos de Uso. Mediante o acesso e utilização desta Plataforma, o utilizador declara ter lido, compreendido e aceite os Termos de Uso abaixo descritos, sem necessidade de qualquer ato ou consentimento posterior.
        Os Termos de Uso poderão ser alterados em qualquer momento considerando-se que as alterações entram em vigor a partir da data da sua publicação na Plataforma. O acesso e a utilização posteriores da Plataforma pelo utilizador, serão considerados como um sinal inequívoco de que o mesmo leu, aceitou e compreendeu os Termos de Uso alterados.
    </p>
    <h4 style="font-weight:900">1. Geral</h4>
    <p>
    <p>a) o "Termo" deste Contrato começa na data em que se registar na Plataforma, e continua até que seja denunciado por si ou por nós em conformidade com este Acordo;</p>
    <p>b) declara que tem pelo menos 18 anos de idade;</p>
    <p>c) compromete-se a não publicar conteúdos que desrespeitem outros utilizadores ou terceiros utilizando calão, palavras insultuosas, ou qualquer outro tipo situação deste género;</p>
    <p>d) o registo e utilização da Plataforma implicam que o utilizador registado garanta que toda a informação contida no seu registo é correta.</p>
    <br />
    <h4 style="font-weight:900">2. Desafio</h4>
    <br />
    <h4 style="font-weight:900">3. Solução</h4>
    <p>
    <p><span style="font-weight:700">Como cliente:</span>, após o seu desafio ser resolvido, este compromete-se a efetuar o pagamento ao resolvedor que apresentou a proposta de solução vencedora. A Plataforma não se responsabiliza pelo incumprimento dos pagamentos, desta forma é necessário haver comunicação entre o cliente e o resolvedor de forma a existir consenso das duas partes.</p>
    <p><span style="font-weight:700">Como resolvedor:</span> compromete-se a cumprir os prazos estipulados por cada cliente e declara que todos os tipos de propostas de solução submetidas são de autoria própria, que tem a propriedade intelectual e/ou o poder legal de transmitir ilimitadamente a totalidade dos direitos, de forma exclusiva e perpétua, não havendo lugar a royalties ou pagamentos adicionais, para além do pagamento estabelecido no prémio definido no desafio. Situações de plágio e de apropriação de conteúdos e/ou ideias, projetos de outros autores são expressamente proibidas.</p>
    <p><span style="font-weight:700">Como avaliador:</span> compromete-se a avaliar as propostas de solução de forma justa de modo a facilitar ao cliente eleger a proposta de solução vencedora.</p>
    <br />
</div>

